﻿@model TeamManagement.Models.Team_Page.TeamStructure

@foreach (var node in Model.TeamTreeStructure)
{
    <ul>
        <li class="teamname" data-teamid="@node.TeamId">
            @node.TeamName
            <ul>
                <li class="teamlead" data-teamleadid="@node.TeamLead.UserId">
                    @node.TeamLead.UserName
                    <ul>
                        @foreach (var teammember in node.TeamMembers)
                        {
                            <li class="teammumbers" data-teammemberid="@teammember.UserId">@teammember.UserName</li>
                        }
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
}




