﻿@model TeamManagement.Models.LoginModel
<head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title> Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Common.css" rel="stylesheet" />
 
</head>
<body>
    <script type="text/javascript">

       var UserRegistrationUrl = '@Url.Action("UserRegistration", "Login")';
       var UserValidation = '@Url.Action("UserLoginValidation", "Login")';
    </script>


   
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/js/UserAccountManagement.js"></script>



    <div class="container">
        
        <div class="alert alert-success hidden" id="DialogLoginsuccessMessage">
            <strong>Success!</strong>
        </div>

        <div class="alert alert-danger hidden" id="DialogLoginerrorMessage">
            <strong></strong>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link">Login</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" id="register-form-link">Register</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="login-form" method="post" role="form" style="display: block;">
                                    <div class="form-group">
                                        <input type="text" name="loginusername" id="Loginusername" tabindex="1" class="form-control" placeholder="Username" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="Loginpassword" id="Loginpassword" tabindex="2" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-group text-center">
                                        <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                        <label for="remember"> Remember Me</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="button" name="loginsubmit" id="loginsubmit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                            </div>
                                        </div>
                                    </div>

                                </form>
                                <form id="register-form" method="post" role="form" style="display: none;">
                                    <div class="form-group">
                                        <input type="text" name="Registerusername" id="Registerusername" tabindex="1" class="form-control" placeholder="Username" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="Firstname" id="Firstname" tabindex="1" class="form-control" placeholder="Firstname" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="Lastname" id="Lastname" tabindex="1" class="form-control" placeholder="Lastname" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="Registeremail" id="Registeremail" tabindex="1" class="form-control" placeholder="Email Address" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="Registerpassword" id="Registerpassword" tabindex="2" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="Registerconfirmpassword" id="Registerconfirmpassword" tabindex="2" class="form-control" placeholder="Confirm Password">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="button" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>