﻿

<link rel="stylesheet" href="~/js/menu/jqx.base.css" type="text/css" />
<link rel="stylesheet" href="~/jqwidgets/styles/jqx.orange.css" type="text/css" />

<script type="text/javascript" src="~/js/menu/demos.js"></script>
<script type="text/javascript" src="~/js/menu/jqxcore.js"></script>
<script type="text/javascript" src="~/js/menu/jqxmenu.js"></script>
<script type="text/javascript" src="~/js/menu/jqxcheckbox.js"></script>
<script type="text/javascript" src="~/js/menu/jqxradiobutton.js"></script>
<script type="text/javascript" src="~/js/MenuHandling.js"></script>

<div id='jqxWidget' style='width:100px;'>
    <div id='jqxMenu' style="visibility: hidden;">
        <ul>

            <li>
                Options
                <ul>
                    <li><a href="@Url.Action("GetDetails", "InternalTeamManagemet")">Manage Teams</a></li>
                    <li><a href="@Url.Action("TaskManagement", "TaskManagement")">Manage Task</li>
                    @*<li><a href="#">Update Profile</a></li>*@
                    <li><a href="@Url.Action("SessionManagement", "SessionManagement")">Log out</a></li>

                </ul>
            </li>


        </ul>
    </div>
</div>
             
       