.Button, .ButtonBold, .ButtonCalendarDay {
  font-size: 8pt;
  text-align: center;
  vertical-align: middle;
  cursor: hand; }

.ButtonBold {
  font-weight: bold; }

.ButtonCalendarDay {
  background-image: url(../../../Common/Images/icon_day.gif);
  background-repeat: no-repeat;
  width: 50px;
  height: 25px; }

/*# sourceMappingURL=Buttons.css.map */
