//urls
$url_0: url(../../../Common/Images/icon_day.gif);

//@extend-elements
//original selectors
//.Button, .ButtonBold, .ButtonCalendarDay
%extend_1 {
	font-size: 8pt;
	text-align: center;
	vertical-align: middle;
	cursor: hand;
}


.Button {
	@extend %extend_1;
}
.ButtonBold {
	@extend %extend_1;
	font-weight: bold;
}
.ButtonCalendarDay {
	@extend %extend_1;
	background-image: $url_0;
	background-repeat: no-repeat;
	width: 50px;
	height: 25px;
}