.Calendar {
  background-color: White;
  width: 175px;
  height: 175px; }

.CalendarTitle {
  background-color: #9ebef5;
  font-weight: bold; }

.CalendarDayHeader {
  background-color: White;
  border-bottom: solid 1px #aca899;
  font-weight: normal; }

.CalendarTodaysDay {
  border: solid 1px #bb5503; }

.CalendarOtherMonthDay {
  color: #aca899; }

.CalendarSelectedDay {
  background-color: #fbe694;
  color: Black; }

.dpTable {
  font-family: Verdana;
  font-size: 8pt;
  text-align: center;
  color: Black;
  background-color: White;
  border: 1px solid #999999;
  width: 160px;
  height: 175px; }

.dpTitleTR {
  background-color: #999999;
  font-weight: bold;
  color: Black; }

.dpDayTR {
  background-color: #cccccc;
  font-weight: bold;
  font-size: 7pt; }

.dpTDWeekend {
  background-color: #ffffcc; }

.dpDayHighlightTD {
  background-color: #666666;
  font-weight: bold;
  color: White; }

.dpTDHover {
  background-color: #cccccc;
  color: Black;
  cursor: hand; }

.dpDayHighlight {
  background-color: #cccccc;
  font-weight: bold;
  color: Black; }

.dpButton {
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: gray;
  font-weight: bold;
  padding: 0; }

.dpTodayButton {
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: gray;
  font-weight: bold; }

/*# sourceMappingURL=Calendars.css.map */
