//colors
$color_perano_approx: #9ebef5;
$color_napa_approx: #aca899;
$color_rose_of_sharon_approx: #bb5503;
$color_golden_glow_approx: #fbe694;
$color_mountain_mist_approx: #999999;
$color_celeste_approx: #cccccc;
$color_cream_approx: #ffffcc;
$color_storm_dust_approx: #666666;
$gray: gray;

//fonts
$font_0: Verdana;
$font_1: Tahoma;
$font_2: Arial;
$font_3: Helvetica;
$font_4: sans-serif;

.Calendar {
	background-color: White;
	width: 175px;
	height: 175px;
}
.CalendarTitle {
	background-color: $color_perano_approx;
	font-weight: bold;
}
.CalendarDayHeader {
	background-color: White;
	border-bottom: solid 1px $color_napa_approx;
	font-weight: normal;
}
.CalendarTodaysDay {
	border: solid 1px $color_rose_of_sharon_approx;
}
.CalendarOtherMonthDay {
	color: $color_napa_approx;
}
.CalendarSelectedDay {
	background-color: $color_golden_glow_approx;
	color: Black;
}
.dpDiv {
}
.dpTable {
	font-family: $font_0;
	font-size: 8pt;
	text-align: center;
	color: Black;
	background-color: White;
	border: 1px solid $color_mountain_mist_approx;
	width: 160px;
	height: 175px;
}
.dpTR {
}
.dpTitleTR {
	background-color: $color_mountain_mist_approx;
	font-weight: bold;
	color: Black;
}
.dpDayTR {
	background-color: $color_celeste_approx;
	font-weight: bold;
	font-size: 7pt;
}
.dpTodayButtonTR {
}
.dpTD {
}
.dpTDWeekend {
	background-color: $color_cream_approx;
}
.dpDayHighlightTD {
	background-color: $color_storm_dust_approx;
	font-weight: bold;
	color: White;
}
.dpTDHover {
	background-color: $color_celeste_approx;
	color: Black;
	cursor: hand;
}
.dpTitleTD {
}
.dpButtonTD {
}
.dpTodayButtonTD {
}
.dpDayTD {
}
.dpTitleText {
}
.dpDayHighlight {
	background-color: $color_celeste_approx;
	font-weight: bold;
	color: Black;
}
.dpButton {
	font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
	font-size: 10px;
	color: $gray;
	font-weight: bold;
	padding: 0;
}
.dpTodayButton {
	font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
	font-size: 10px;
	color: $gray;
	font-weight: bold;
}