body, html {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  background-color: Transparent;
  font-size: 9pt;
  margin: 0;
  padding-right: 5px;
  padding-left: 7px;
  width: 98.5%;
  height: auto; }

.NavandContentTop, .NavandContentBottom {
  height: auto;
  width: 100%;
  clear: both; }

td.NavItem, td.NavItemHover {
  width: 194px;
  height: 29px;
  background-image: url(../../../Common/Images/navitem.gif);
  background-repeat: no-repeat;
  background-position: left top; }

td.NavSubItem, td.NavSubItemHover {
  cursor: hand;
  width: 154px;
  height: 29px;
  background-image: url(../../../Common/Images/navitem_sub.gif);
  background-repeat: no-repeat;
  background-position: left top; }

a.NavItem:link, a.NavItem:visited, a.NavItem:hover, a.NavItem.NavItemHover:activea:link, a.NavItemHover:visited, a.NavItemHover:hover, a.NavItemHover:active, a.NavSubItem:link, a.NavSubItem:visited, a.NavSubItem:hover, a.NavSubItem:active, a.NavSubItemHover:link, a.NavSubItemHover:visited, a.NavSubItemHover:hover, a.NavSubItemHover:active {
  color: White;
  text-decoration: none;
  font-weight: bold; }

.NavItem, .NavItemHover {
  color: White;
  font-weight: bold;
  background: none;
  padding-left: 20px;
  padding-bottom: 3px;
  width: 100%;
  height: 100%; }

.Header {
  width: 100%;
  background-color: #ffffff;
  border: Solid 1px White;
  padding-bottom: 10px;
  clear: both; }

.HeaderLeft {
  float: left;
  width: 1000px;
  background-image: url(..//..//Images/Header.jpg);
  background-repeat: no-repeat;
  height: 83px;
  vertical-align: middle; }

.HeaderCenter {
  float: left; }

.HeaderRight {
  width: 435px;
  background-repeat: no-repeat;
  vertical-align: middle;
  float: right;
  padding-right: 20px; }

.HeaderRightSNP {
  height: 59px;
  width: 155px;
  background-image: url(../../../Common/Images/banner_snp.gif);
  background-repeat: no-repeat;
  vertical-align: middle;
  float: right;
  padding-right: 20px; }

.NavandContent {
  border-left: solid 1px #d6d6d6;
  border-right: solid 1px #d6d6d6;
  height: auto;
  clear: both; }

.PopupNavandContent {
  border-left: solid 1px #d6d6d6;
  border-right: solid 1px #d6d6d6;
  height: 70%;
  clear: both; }

td.LeftTopCorner {
  background-image: url(../../../Common/Images/corner_left_top.gif);
  height: 26px;
  width: 26px;
  background-repeat: no-repeat;
  text-align: left;
  padding: 0;
  margin: 0; }
td.RightTopCorner {
  background-image: url(../../../Common/Images/corner_right_top.gif);
  height: 26px;
  width: 26px;
  background-repeat: no-repeat;
  text-align: right;
  padding: 0;
  margin: 0; }
td.Top {
  height: 26px;
  border-top: solid 1px #d6d6d6;
  width: inherit;
  padding: 0;
  margin: 0; }
td.LeftBottomCorner {
  background-image: url(../../../Common/Images/corner_left_bottom.gif);
  height: 26px;
  width: 26px;
  background-repeat: no-repeat;
  text-align: left;
  padding: 0;
  margin: 0; }
td.RightBottomCorner {
  background-image: url(../../../Common/Images/corner_right_bottom.gif);
  height: 26px;
  width: 26px;
  background-repeat: no-repeat;
  text-align: right;
  padding: 0;
  margin: 0; }
td.Bottom {
  height: 26px;
  border-bottom: solid 1px #d6d6d6;
  width: inherit;
  padding: 0;
  margin: 0; }
td.NavItemHover {
  background-image: url(../../../Common/Images/navitem_over.gif); }
td.NavSubItemHover {
  background-image: url(../../../Common/Images/navitem_sub_over.gif); }

.Navigation {
  height: auto;
  width: 199px;
  float: left;
  padding: 0;
  margin: 0; }

.NavigationTop {
  margin: 0;
  padding: 0;
  background-image: url(../../../Common/Images/nav_top.gif);
  height: 10px;
  width: 199px;
  background-repeat: no-repeat; }

.NavigationContent {
  margin: 0;
  padding: 0;
  padding-top: 45px;
  padding-left: 5px;
  height: inherit; }

.NavigationBottom {
  margin: 0;
  padding: 0;
  background-image: url(../../../Common/Images/nav_bottom.gif);
  height: 10px;
  width: 199px;
  background-repeat: no-repeat; }

.Content {
  margin: 0;
  height: auto;
  padding: 10px;
  clear: both; }

.PageContent {
  padding: 0;
  margin: 0;
  height: 100%; }

.ContentHeader {
  width: auto;
  height: 35px;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  clear: both; }

.CHPageTitle {
  width: auto;
  float: left; }

.CHLogout {
  width: auto;
  float: right; }

.CHLoggedIn {
  width: auto;
  float: right;
  padding-top: 2px; }

.CHSpacer {
  float: right;
  padding-top: 2px; }

.TRCRef {
  width: auto;
  float: right; }

.Footer {
  width: auto;
  height: auto;
  font-family: verdana, Arial, Helvetica, sans-serif;
  font-size: 9px;
  color: #013295;
  vertical-align: bottom;
  clear: both; }
  .Footer a:link {
    text-decoration: underline;
    color: #013295; }
  .Footer a:hover {
    text-decoration: underline;
    color: #013295; }
  .Footer a:active {
    text-decoration: underline;
    color: #013295; }
  .Footer a:visited {
    text-decoration: underline;
    color: #013295; }

.Spacer {
  background-image: url(../../../Common/Images/spacer.gif);
  height: 1px;
  width: 1px; }

@media print {
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    background: #ffffff !important;
    font-size: 10pt;
    width: 100%;
    height: 100%; }

  .Header {
    width: 100%; }

  .HeaderLeft {
    background-image: url(../../../Common/Images/Banner_Print.gif);
    width: 360px;
    background-repeat: no-repeat;
    height: 80px; }

  .Footer {
    display: none; }

  .HeaderRight {
    display: none; }

  .Navigation {
    display: none; } }
.asbMenu {
  border: 1px solid Silver;
  filter: progid:dximagetransform.microsoft.gradient(gradienttype=1,startcolorstr=$color_wild_sand_approx,endcolorstr=$white);
  position: absolute;
  padding: 5px;
  white-space: nowrap;
  z-index: 1000; }

.asbMenuBase {
  position: absolute;
  z-index: 1000; }

.asbMenuItem {
  color: Black;
  cursor: hand;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 8pt;
  text-align: left; }

.asbSelMenuItem {
  background: silver;
  color: Black;
  cursor: hand;
  white-space: nowrap;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 8pt;
  text-align: left; }

/*# sourceMappingURL=Default.css.map */
