//colors
$white: #ffffff;
$black: #000000;
$color_iron_approx: #d6d6d6;
$color_smalt_approx: #013295;
$color_wild_sand_approx: #f3f5f6;
$silver: silver;

//fonts
$font_0: Arial;
$font_1: Helvetica;
$font_2: sans-serif;
$font_3: verdana;
$font_4: Sans-Serif;

//urls
$url_0: url(..//..//Images/Header.jpg);
$url_1: url(../../../Common/Images/banner_snp.gif);
$url_2: url(../../../Common/Images/corner_left_top.gif);
$url_3: url(../../../Common/Images/corner_right_top.gif);
$url_4: url(../../../Common/Images/corner_left_bottom.gif);
$url_5: url(../../../Common/Images/corner_right_bottom.gif);
$url_6: url(../../../Common/Images/nav_top.gif);
$url_7: url(../../../Common/Images/nav_bottom.gif);
$url_8: url(../../../Common/Images/navitem.gif);
$url_9: url(../../../Common/Images/navitem_over.gif);
$url_10: url(../../../Common/Images/navitem_sub.gif);
$url_11: url(../../../Common/Images/navitem_sub_over.gif);
$url_12: url(../../../Common/Images/spacer.gif);
$url_13: url(../../../Common/Images/Banner_Print.gif);

//@extend-elements
//original selectors
//body, html
%extend_1 {
	color: $black;
	font-family: $font_0, $font_1, $font_2;
	font-weight: normal;
	background-color: Transparent;
	font-size: 9pt;
	margin: 0;
	padding-right: 5px;
	padding-left: 7px;
	width: 98.5%;
	height: auto;
}

//original selectors
//.NavandContentTop, .NavandContentBottom
%extend_2 {
	height: auto;
	width: 100%;
	clear: both;
}

//original selectors
//td.NavItem, td.NavItemHover
%extend_3 {
	width: 194px;
	height: 29px;
	background-image: $url_8;
	background-repeat: no-repeat;
	background-position: left top;
}

//original selectors
//td.NavSubItem, td.NavSubItemHover
%extend_4 {
	cursor: hand;
	width: 154px;
	height: 29px;
	background-image: $url_10;
	background-repeat: no-repeat;
	background-position: left top;
}

//original selectors
//a.NavItem:link, a.NavItem:visited, a.NavItem:hover, a.NavItem:activea.NavItemHover:link, a.NavItemHover:visited, a.NavItemHover:hover, a.NavItemHover:active, a.NavSubItem:link, a.NavSubItem:visited, a.NavSubItem:hover, a.NavSubItem:active, a.NavSubItemHover:link, a.NavSubItemHover:visited, a.NavSubItemHover:hover, a.NavSubItemHover:active
%extend_5 {
	color: White;
	text-decoration: none;
	font-weight: bold;
}

//original selectors
//.NavItem, .NavItemHover
%extend_6 {
	color: White;
	font-weight: bold;
	background: none;
	padding-left: 20px;
	padding-bottom: 3px;
	width: 100%;
	height: 100%;
}


body {
	@extend %extend_1;
}
html {
	@extend %extend_1;
}
.Header {
	width: 100%;
	background-color: $white;
	border: Solid 1px White;
	padding-bottom: 10px;
	clear: both;
}
.HeaderLeft {
	float: left;
	width: 1000px;
	background-image: $url_0;
	background-repeat: no-repeat;
	height: 83px;
	vertical-align: middle;
}
.HeaderCenter {
	float: left;
}
.HeaderRight {
	width: 435px;
	background-repeat: no-repeat;
	vertical-align: middle;
	float: right;
	padding-right: 20px;
}
.HeaderRightSNP {
	height: 59px;
	width: 155px;
	background-image: $url_1;
	background-repeat: no-repeat;
	vertical-align: middle;
	float: right;
	padding-right: 20px;
}
.NavandContent {
	border-left: solid 1px $color_iron_approx;
	border-right: solid 1px $color_iron_approx;
	height: auto;
	clear: both;
}
.PopupNavandContent {
	border-left: solid 1px $color_iron_approx;
	border-right: solid 1px $color_iron_approx;
	height: 70%;
	clear: both;
}
.NavandContentTop {
	@extend %extend_2;
}
.NavandContentBottom {
	@extend %extend_2;
}
td {
	&.LeftTopCorner {
		background-image: $url_2;
		height: 26px;
		width: 26px;
		background-repeat: no-repeat;
		text-align: left;
		padding: 0;
		margin: 0;
	}
	&.RightTopCorner {
		background-image: $url_3;
		height: 26px;
		width: 26px;
		background-repeat: no-repeat;
		text-align: right;
		padding: 0;
		margin: 0;
	}
	&.Top {
		height: 26px;
		border-top: solid 1px $color_iron_approx;
		width: inherit;
		padding: 0;
		margin: 0;
	}
	&.LeftBottomCorner {
		background-image: $url_4;
		height: 26px;
		width: 26px;
		background-repeat: no-repeat;
		text-align: left;
		padding: 0;
		margin: 0;
	}
	&.RightBottomCorner {
		background-image: $url_5;
		height: 26px;
		width: 26px;
		background-repeat: no-repeat;
		text-align: right;
		padding: 0;
		margin: 0;
	}
	&.Bottom {
		height: 26px;
		border-bottom: solid 1px $color_iron_approx;
		width: inherit;
		padding: 0;
		margin: 0;
	}
	&.NavItem {
		@extend %extend_3;
	}
	&.NavItemHover {
		@extend %extend_3;
		background-image: $url_9;
	}
	&.NavSubItem {
		@extend %extend_4;
	}
	&.NavSubItemHover {
		@extend %extend_4;
		background-image: $url_11;
	}
}
.Navigation {
	height: auto;
	width: 199px;
	float: left;
	padding: 0;
	margin: 0;
}
.NavigationTop {
	margin: 0;
	padding: 0;
	background-image: $url_6;
	height: 10px;
	width: 199px;
	background-repeat: no-repeat;
}
.NavigationContent {
	margin: 0;
	padding: 0;
	padding-top: 45px;
	padding-left: 5px;
	height: inherit;
}
.NavigationBottom {
	margin: 0;
	padding: 0;
	background-image: $url_7;
	height: 10px;
	width: 199px;
	background-repeat: no-repeat;
}
a {
	&.NavItem {
		&:link {
			@extend %extend_5;
		}
		&:visited {
			@extend %extend_5;
		}
		&:hover {
			@extend %extend_5;
		}
		&:activea.NavItemHover:link {
			@extend %extend_5;
		}
	}
	&.NavItemHover {
		&:visited {
			@extend %extend_5;
		}
		&:hover {
			@extend %extend_5;
		}
		&:active {
			@extend %extend_5;
		}
	}
	&.NavSubItem {
		&:link {
			@extend %extend_5;
		}
		&:visited {
			@extend %extend_5;
		}
		&:hover {
			@extend %extend_5;
		}
		&:active {
			@extend %extend_5;
		}
	}
	&.NavSubItemHover {
		&:link {
			@extend %extend_5;
		}
		&:visited {
			@extend %extend_5;
		}
		&:hover {
			@extend %extend_5;
		}
		&:active {
			@extend %extend_5;
		}
	}
}
.NavItem {
	@extend %extend_6;
}
.NavItemHover {
	@extend %extend_6;
}
.Content {
	margin: 0;
	height: auto;
	padding: 10px;
	clear: both;
}
.PageContent {
	padding: 0;
	margin: 0;
	height: 100%;
}
.ContentHeader {
	width: auto;
	height: 35px;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
	clear: both;
}
.CHPageTitle {
	width: auto;
	float: left;
}
.CHLogout {
	width: auto;
	float: right;
}
.CHLoggedIn {
	width: auto;
	float: right;
	padding-top: 2px;
}
.CHSpacer {
	float: right;
	padding-top: 2px;
}
.TRCRef {
	width: auto;
	float: right;
}
.Footer {
	width: auto;
	height: auto;
	font-family: $font_3, $font_0, $font_1, $font_2;
	font-size: 9px;
	color: $color_smalt_approx;
	vertical-align: bottom;
	clear: both;
	a {
		&:link {
			text-decoration: underline;
			color: $color_smalt_approx;
		}
		&:hover {
			text-decoration: underline;
			color: $color_smalt_approx;
		}
		&:active {
			text-decoration: underline;
			color: $color_smalt_approx;
		}
		&:visited {
			text-decoration: underline;
			color: $color_smalt_approx;
		}
	}
}
.Spacer {
	background-image: $url_12;
	height: 1px;
	width: 1px;
}
@media print {
	body {
		font-family: $font_0, $font_1, $font_2;
		font-weight: normal;
		background: $white !important;
		font-size: 10pt;
		width: 100%;
		height: 100%;
	}
	.Header {
		width: 100%;
	}
	.HeaderLeft {
		background-image: $url_13;
		width: 360px;
		background-repeat: no-repeat;
		height: 80px;
	}
	.Footer {
		display: none;
	}
	.HeaderRight {
		display: none;
	}
	.Navigation {
		display: none;
	}
}
.asbMenu {
	border: 1px solid Silver;
	filter: progid:dximagetransform.microsoft.gradient(gradienttype=1,startcolorstr=$color_wild_sand_approx,endcolorstr=$white);
	position: absolute;
	padding: 5px;
	white-space: nowrap;
	z-index: 1000;
}
.asbMenuBase {
	position: absolute;
	z-index: 1000;
}
.asbMenuItem {
	color: Black;
	cursor: hand;
	font-family: $font_0, $font_1, $font_4;
	font-size: 8pt;
	text-align: left;
}
.asbSelMenuItem {
	background: $silver;
	color: Black;
	cursor: hand;
	white-space: nowrap;
	font-family: $font_0, $font_1, $font_4;
	font-size: 8pt;
	text-align: left;
}