//colors
$gray:  gray;
$black: black;

//fonts
$font_0: Verdana;

//urls
$url_0: url(Images/expand.gif);
$url_1: url(Images/collapse.gif);

.GridExpandCollapseButton {
	cursor: hand;
	border: solid 1px $gray;
	text-align: center;
	width: 13px;
	display: block;
	height: 15px;
	line-height: 15px;
	text-decoration: none;
	vertical-align: center;
	font-family: $font_0;
	color: $black;
}
.GridExpandButton {
	width: 11px;
	height: 11px;
	cursor: hand;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	vertical-align: center;
	background-image: $url_0;
	background-repeat: no-repeat;
}
.GridCollapseButton {
	width: 11px;
	height: 11px;
	line-height: 0;
	cursor: hand;
	text-align: center;
	display: block;
	text-decoration: none;
	vertical-align: center;
	background-image: $url_1;
	background-repeat: no-repeat;
}
.ESectionDetails {
	width: 100%;
	padding-bottom: 15px;
	padding-top: 15px;
}
.ESectionDetailsCol {
	float: left;
	width: 48%;
}
.ESectionButtons {
	float: left;
	width: 90%;
}
.EtblDetailsCol {
	width: 100%;
}
.EResults {
	width: 100%;
	text-align: left;
}
tr.EtblRow {
	width: 100%;
	height: 25px;
}
td.EButtonCell {
	width: 25%;
	text-align: center;
}