.GridHeader, .GridHeaderNoSort {
  background-color: #8299b9;
  color: White;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 9pt;
  text-align: center;
  vertical-align: middle;
  height: 25px; }

.GridItem, .GridAlternateItem {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  height: 20px;
  vertical-align: middle;
  text-align: left;
  width: auto;
  background-color: White; }

table.Grid td, table.GridAuto td {
  border: solid 1px #dcdcdc;
  padding: 2px;
  padding-left: 4px; }

.GridButtonLink, .GridButtonLink:hover, .GridButtonLink:visited, .GridButtonLink:link, .GridButtonLink:active {
  font-size: 8pt;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none; }

.GridHeader a:visited {
  color: White; }
.GridHeader a:link {
  color: White; }
.GridHeader a:active {
  color: White; }
.GridHeader a:hover {
  color: White; }

.GridStationaryHeader {
  background-color: #8299b9;
  color: White;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 9pt;
  text-align: center;
  vertical-align: middle;
  height: 25px;
  position: relative;
  top: -1.5px; }

.GridAlternateItem {
  background-color: #eaeaea; }

.GridItemCenterAligned {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  height: 20px;
  vertical-align: middle;
  text-align: center;
  width: auto;
  background-color: White; }

.GridAlternateItemCenterAligned {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  height: 20px;
  vertical-align: middle;
  text-align: center;
  width: auto;
  background-color: #eaeaea; }

.Grid {
  width: 100%; }

.GridMenu {
  background-color: #8299b9;
  height: 25px; }

td.GridHeaderContent {
  width: 40%;
  font-size: 8pt;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  text-align: right; }

/*# sourceMappingURL=Grids.css.map */
