//colors
$color_bali_hai_approx: #8299b9;
$color_gray_nurse_approx: #eaeaea;
$color_alto_approx: #dcdcdc;
$white: #ffffff;

//fonts
$font_0: Arial;
$font_1: Helvetica;
$font_2: sans-serif;

//@extend-elements
//original selectors
//.GridHeader, .GridHeaderNoSort
%extend_1 {
	background-color: $color_bali_hai_approx;
	color: White;
	font-family: $font_0, $font_1, $font_2;
	font-weight: bold;
	font-size: 9pt;
	text-align: center;
	vertical-align: middle;
	height: 25px;
}

//original selectors
//.GridItem, .GridAlternateItem
%extend_2 {
	font-family: $font_0, $font_1, $font_2;
	font-size: 8pt;
	height: 20px;
	vertical-align: middle;
	text-align: left;
	width: auto;
	background-color: White;
}

//original selectors
//table.Grid td, table.GridAuto td
%extend_3 {
	border: solid 1px $color_alto_approx;
	padding: 2px;
	padding-left: 4px;
}

//original selectors
//.GridButtonLink, .GridButtonLink:hover, .GridButtonLink:visited, .GridButtonLink:link, .GridButtonLink:active
%extend_4 {
	font-size: 8pt;
	font-weight: bold;
	color: $white;
	text-decoration: none;
}


.GridHeader {
	@extend %extend_1;
	a {
		&:visited {
			color: White;
		}
		&:link {
			color: White;
		}
		&:active {
			color: White;
		}
		&:hover {
			color: White;
		}
	}
}
.GridHeaderNoSort {
	@extend %extend_1;
}
.GridStationaryHeader {
	background-color: $color_bali_hai_approx;
	color: White;
	font-family: $font_0, $font_1, $font_2;
	font-weight: bold;
	font-size: 9pt;
	text-align: center;
	vertical-align: middle;
	height: 25px;
	position: relative;
	top: -1.5px;
}
.GridItem {
	@extend %extend_2;
}
.GridAlternateItem {
	@extend %extend_2;
	background-color: $color_gray_nurse_approx;
}
.GridItemCenterAligned {
	font-family: $font_0, $font_1, $font_2;
	font-size: 8pt;
	height: 20px;
	vertical-align: middle;
	text-align: center;
	width: auto;
	background-color: White;
}
.GridAlternateItemCenterAligned {
	font-family: $font_0, $font_1, $font_2;
	font-size: 8pt;
	height: 20px;
	vertical-align: middle;
	text-align: center;
	width: auto;
	background-color: $color_gray_nurse_approx;
}
.Grid {
	width: 100%;
}
table {
	&.Grid td {
		@extend %extend_3;
	}
	&.GridAuto td {
		@extend %extend_3;
	}
}
.GridMenu {
	background-color: $color_bali_hai_approx;
	height: 25px;
}
.GridButtonLink {
	@extend %extend_4;
	&:hover {
		@extend %extend_4;
	}
	&:visited {
		@extend %extend_4;
	}
	&:link {
		@extend %extend_4;
	}
	&:active {
		@extend %extend_4;
	}
}
td.GridHeaderContent {
	width: 40%;
	font-size: 8pt;
	font-weight: bold;
	color: $white;
	text-decoration: none;
	text-align: right;
}