//colors
$color_east_bay_approx: #38567d;

//urls
$url_0: url(../../../Common/Images/section_header_left.gif);
$url_1: url(../../../Common/Images/section_header_right.gif);

.SectionHeader {
	background-color: $color_east_bay_approx;
	height: 26px;
	width: 100%;
	clear: both;
}
.SectionHeaderContent {
	margin: 0 10px;
	float: left;
	width: 92%;
}
.SectionHeaderLarge {
	background-color: $color_east_bay_approx;
	height: 40px;
	width: 100%;
}
.SectionHeaderLeft {
	background: $url_0 no-repeat top right;
	float: left;
	background-color: White;
}
.SectionHeaderRight {
	background: $url_1 no-repeat top right;
	float: right;
	background-color: White;
}
td {
	&.SectionHeaderText {
		width: 100%;
	}
	&.SectionHeaderButton {
		text-align: right;
		width: 20px;
		padding-left: 15px;
	}
	&.SectionHeaderLeadButtonText {
		text-align: right;
		width: 40px;
		padding-left: 0;
	}
	&.SectionHeaderSeparator {
		text-align: right;
		width: 25px;
		padding-left: 20px;
	}
	&.SectionLeftHeaderButton {
		text-align: Left;
		width: 20px;
		padding-right: 15px;
	}
}
.SectionShowHide {
	text-align: right;
	vertical-align: middle;
	padding-top: 2px;
	border: none;
}
.SectionHeaderSmall {
	background-color: $color_east_bay_approx;
	height: 26px;
	width: 100%;
}
.SectionHeaderContentSmall {
	margin: 0 10px;
	float: left;
	width: auto;
}
img.SectionCorner {
	width: 7px;
	height: 26px;
	border: none;
	display: block !important;
}