.SectionHeader {
  background-color: #38567d;
  height: 26px;
  width: 100%;
  clear: both; }

.SectionHeaderContent {
  margin: 0 10px;
  float: left;
  width: 92%; }

.SectionHeaderLarge {
  background-color: #38567d;
  height: 40px;
  width: 100%; }

.SectionHeaderLeft {
  background: url(../../../Common/Images/section_header_left.gif) no-repeat top right;
  float: left;
  background-color: White; }

.SectionHeaderRight {
  background: url(../../../Common/Images/section_header_right.gif) no-repeat top right;
  float: right;
  background-color: White; }

td.SectionHeaderText {
  width: 100%; }
td.SectionHeaderButton {
  text-align: right;
  width: 20px;
  padding-left: 15px; }
td.SectionHeaderLeadButtonText {
  text-align: right;
  width: 40px;
  padding-left: 0; }
td.SectionHeaderSeparator {
  text-align: right;
  width: 25px;
  padding-left: 20px; }
td.SectionLeftHeaderButton {
  text-align: Left;
  width: 20px;
  padding-right: 15px; }

.SectionShowHide {
  text-align: right;
  vertical-align: middle;
  padding-top: 2px;
  border: none; }

.SectionHeaderSmall {
  background-color: #38567d;
  height: 26px;
  width: 100%; }

.SectionHeaderContentSmall {
  margin: 0 10px;
  float: left;
  width: auto; }

img.SectionCorner {
  width: 7px;
  height: 26px;
  border: none;
  display: block !important; }

/*# sourceMappingURL=Header.css.map */
