.NormalText {
  background-color: Transparent;
  font-size: 9pt; }

.BoldText {
  background-color: Transparent;
  font-size: 9pt;
  font-weight: bold; }

.HeaderText {
  background-color: Transparent;
  font-size: 9pt;
  font-weight: bold;
  font-size: 12pt;
  color: #092254; }

.SubHeaderText {
  background-color: Transparent;
  font-size: 9pt;
  font-weight: bold;
  font-size: 9pt;
  .
	color: #666666; }

.ErrorText {
  background-color: Transparent;
  font-size: 9pt;
  font-weight: bold;
  color: #d61111; }

.SectionHeaderText {
  background-color: Transparent;
  font-size: 9pt;
  font-weight: bold;
  font-size: 9pt;
  color: White; }

.SectionHeaderLeadButtonText {
  background-color: Transparent;
  font-size: 9pt;
  font-weight: bold;
  font-size: 9pt;
  color: White; }

/*# sourceMappingURL=Labels.css.map */
