//colors
$color_downriver_approx: #092254;
$color_storm_dust_approx: #666666;
$color_monza_approx: #d61111;

.NormalText {
	background-color: Transparent;
	font-size: 9pt;
}
.BoldText {
	background-color: Transparent;
	font-size: 9pt;
	font-weight: bold;
}
.HeaderText {
	background-color: Transparent;
	font-size: 9pt;
	font-weight: bold;
	font-size: 12pt;
	color: $color_downriver_approx;
}
.SubHeaderText {
	background-color: Transparent;
	font-size: 9pt;
	font-weight: bold;
	font-size: 9pt;.
	color: $color_storm_dust_approx;
}
.ErrorText {
	background-color: Transparent;
	font-size: 9pt;
	font-weight: bold;
	color: $color_monza_approx;
}
.SectionHeaderText {
	background-color: Transparent;
	font-size: 9pt;
	font-weight: bold;
	font-size: 9pt;
	color: White;
}
.SectionHeaderLeadButtonText {
	background-color: Transparent;
	font-size: 9pt;
	font-weight: bold;
	font-size: 9pt;
	color: White;
}