//colors
$color_east_bay_approx: #38567d;
$white: white;
$color_link_water_approx: #d9e7f0;
$color_catskill_white_approx: #eef4f8;

//fonts
$font_0: arial;

Master {
	&.form {
		padding: 0;
		margin: 0;
	}
	&.TxtBox {
		background-color: $color_east_bay_approx;
		color: $white;
		Font-Size: 9pt;
		/*ReadOnly: true;*/
		overflow: hidden;
		/*BorderStyle: None;*/
		border-width: 0;
	}
	&.TableMaster.tr {
		vertical-align: text-top;
		width: 30%;
	}
	&.asp.panel {
		Width: 421px;
		background-color: $color_east_bay_approx;
		Color: $white;
		font-family: $font_0;
		Font-Size: small;
	}
}
#TxtClaimsSubscriberID {
	Width: 100px;
}
#TxtHICN {
	Width: 100px;
}
#TxtPBP {
	Width: 100px;
}
#TxtGender {
	Width: 100px;
}
#TxtContractNo {
	Width: 55px;
}
#TxtDOB {
	Width: 98px;
}
#TxtAge {
	Width: 98px;
}
#TxtAddress {
	Width: 360px;
}
#txtGlobalSearch {
    /* we need to do all these type of behaviour setting from jquery */
	/*MaxLength: 20;*/
	Width: 120px;
}
DynamicHoverStyle {
	background-color: $color_east_bay_approx;
}
DynamicMenuItemStyle {
	border-color: $color_link_water_approx;
	background-color: $color_catskill_white_approx;
	border-style: Solid;
	border-width: 1px;
	Width: 100%;
	/*HorizontalPadding: 5px;
	VerticalPadding: 5px;*/
}
divFooter {
	align-content: center;
	&.Table {
		&.tr1 {
			align-content: center;
			vertical-align: middle;
		}
		&.tr2 {
			/*align-content: left;*/
			vertical-align: top;
		}
		&.td {
			align-content: left;
			width: 17px;
			height: 15px;
			border: 0;
			/*align-content: absmiddle;*/
		}
		&.tr.img {
			width: 694px;
			height: 30px;
			border: 0;
			/*align-content: bottom;*/
		}
	}
}