Master.form {
  padding: 0;
  margin: 0; }
Master.TxtBox {
  background-color: #38567d;
  color: white;
  Font-Size: 9pt;
  /*ReadOnly: true;*/
  overflow: hidden;
  /*BorderStyle: None;*/
  border-width: 0; }
Master.TableMaster.tr {
  vertical-align: text-top;
  width: 30%; }
Master.asp.panel {
  Width: 421px;
  background-color: #38567d;
  Color: white;
  font-family: arial;
  Font-Size: small; }

#TxtClaimsSubscriberID {
  Width: 100px; }

#TxtHICN {
  Width: 100px; }

#TxtPBP {
  Width: 100px; }

#TxtGender {
  Width: 100px; }

#TxtContractNo {
  Width: 55px; }

#TxtDOB {
  Width: 98px; }

#TxtAge {
  Width: 98px; }

#TxtAddress {
  Width: 360px; }

#txtGlobalSearch {
  /* we need to do all these type of behaviour setting from jquery */
  /*MaxLength: 20;*/
  Width: 120px; }

DynamicHoverStyle {
  background-color: #38567d; }

DynamicMenuItemStyle {
  border-color: #d9e7f0;
  background-color: #eef4f8;
  border-style: Solid;
  border-width: 1px;
  Width: 100%;
  /*HorizontalPadding: 5px;
  VerticalPadding: 5px;*/ }

divFooter {
  align-content: center; }
  divFooter.Table.tr1 {
    align-content: center;
    vertical-align: middle; }
  divFooter.Table.tr2 {
    /*align-content: left;*/
    vertical-align: top; }
  divFooter.Table.td {
    align-content: left;
    width: 17px;
    height: 15px;
    border: 0;
    /*align-content: absmiddle;*/ }
  divFooter.Table.tr.img {
    width: 694px;
    height: 30px;
    border: 0;
    /*align-content: bottom;*/ }

/*# sourceMappingURL=Master.css.map */
